<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631368416463-pfl1tj6hms9tbs4irntaif3siiop1no9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631368416463-pfl1tj6hms9tbs4irntaif3siiop1no9</string>
	<key>API_KEY</key>
	<string>AIzaSyBrIEAdTtDkfSdq4iizH4FleOeGpQFCjpk</string>
	<key>GCM_SENDER_ID</key>
	<string>631368416463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.CrossLife</string>
	<key>PROJECT_ID</key>
	<string>croifers</string>
	<key>STORAGE_BUCKET</key>
	<string>croifers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631368416463:ios:0244fe7f32498d1eae8bba</string>
</dict>
</plist>